<html>
<head>
	<title>Spring Form</title>
</head>
<body>
<h2>Spring Form</h2>
<form id="member" action="register" method="post">
	<table>
		<tr>
			<td>유저ID</td>
			<td><input id="userId" name="userId" type="text" value=""/><font color="red"><span id="userId.errors">반드시 값이 존재하고 공백 문자를 제외한 길이가 0보다 커야 합니다.</span></font></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input id="userName" name="userName" type="text" value="홍길동"/><font color="red"></font></td>
		</tr>
		<tr>
			<td>E-MAIL</td>
			<td><input id="email" name="email" type="text" value="aaa@ccc.com"/><font color="red"></font></td>
		</tr>
	</table>
	
	<button id="register" name="register" type="submit" value="Submit">등록</button>
</form>
</body>
</html>
