<html>
<head>
	<title>Spring Form</title>
</head>
<body>
<h2>Spring Form</h2>
<form id="member" action="register" method="post">
	<table>
		<tr>
			<td>성별</td>
			<td>
			<input id="gender1" name="gender" type="radio" value="male"/><label for="gender1">Male</label> <br>
			<input id="gender2" name="gender" type="radio" value="female" checked="checked"/><label for="gender2">Female</label> <br>
			<input id="gender3" name="gender" type="radio" value="other"/><label for="gender3">Other</label>
			</td>
		</tr>
	</table>
	
	<button id="register" name="register" type="submit" value="Submit">등록</button>
</form>
</body>
</html>
